
.slide-enter,
.slide-exit {
  transition: all 300ms ease-out;
}

.slide-enter {
  transform: translateX(70%);
  opacity: 0;
}

.slide-enter.slide-enter-active {
  transform: translateX(0%);
  opacity: 1;
}

.slide-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateX(0%);
  opacity: 0;
}

.slide-exit-active {
  transform: translateX(-70%);
  opacity: 0;
}
